#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0rem;
}

.product--image {
    width: 100%;
    height: 16em;
    object-fit: cover;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    /* margin: auto 1rem; */
    /* font-family: arial; */
    /* padding: 5px; */
}

.card_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.card_heading>h2 {
    font-size: 18px;
}

.card_heading>p {
    font-size: 14px;
    margin-top: -8px;
}

.card_icon {
    display: flex;
    gap: 10px;
}

.price {
    color: grey;
    font-size: 22px;
}