.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 6%;
    gap: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.page-button {
    background: var(--main-color);
    color: white;
    padding: 5px 13px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.page-button.active {
    color: var(--main-color);
    background-color: white;
    border: 1px solid var(--main-color);
}

@media (max-width: 1280px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media (max-width: 900px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .page-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .products-grid {
        grid-template-columns: 1fr;
    }

    .page-button {
        padding: 6px 12px;
        font-size: 12px;
    }
}
