.singleproductcontainer {
    padding: 70px;
    display: flex;
    flex-direction: row;
}

.singleproductcontainer img {
    height: 400px;
    width: auto;
    margin-right: 20px;
}

.single_product_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 25px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 0 16px;
}

.singleInfo {
    padding: 0 0 0 32px;
    flex: 1;
}

.singleInfo>h4 {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 8px;
}

.singleInfo>p {
    margin: 0 0 16px;
}

.single_button {
    margin: 0 0 16px;
}

.singleInfo>h5 {
    margin: 0 0 18px;
}

.quantity-button {
    padding: 8px;
    font-size: 16px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

.quantity {
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .singleproductcontainer {
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }
    .singleproductcontainer img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .singleInfo {
        padding: 0;
        text-align: center;
    }
    .singleInfo>h4 {
        font-size: 20px;
    }
    .single_button {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .quantity-container {
        gap: 5px;
    }
}

@media screen and (max-width: 480px) {
    .singleInfo>h4 {
        font-size: 18px;
    }
    .product-para {
        max-width: 100%;
    }
}